:root {
    --main-color: #14213D;
    --accent-color: #FCA311;
    --background-color: #FFFFFF;
}

body {
    margin: 0;
}

.app {
    color: var(--main-color);
    background-color: var(--background-color);
}

button {
    background-color: var(--background-color);
    border: 1px solid;
    color: var(--accent-color);
    border-color: var(--accent-color);
    fill: var(--accent-color);
    border-radius: 5px;
    padding: 10px 10px;
    transition-duration: 400ms;
}

.nav-bar button > svg, .nav-bar button > svg > path {
    width: 20px;
    height: 20px;
}

button:not(:disabled):hover {
    background-color: var(--accent-color);
    color: var(--background-color);
    fill: var(--background-color);
}

button:disabled {
    opacity: 0.5;
    color: red;
    border-color: red;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: x-large;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    z-index: 100;
    border-bottom: 1px solid;
    border-bottom-color: var(--accent-color);
}

.nav-bar > button + button {
    margin-left: 10px;
}

.separator {
    margin-left: auto;
}

.page {
    margin: 25px;
    margin-top: 5px;
}

.spinner {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.spinner span {
    border: 8px solid;
    border-color: var(--main-color);
    margin: 8px;
    display: block;
    border-radius: 100%;
    border-top-color: var(--background-color);
    border-right-color: var(--background-color);
    animation: dreh 4s infinite cubic-bezier(0.56, -0.24, 0.41, 1.23);
}

@keyframes dreh {
    100% {
        transform: rotate(360deg);
    }
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.product-item {
    display: flex;
    border: 1px solid;
    color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    width: 70%;
    min-width: 40rem;
}

.product-item .product-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.2rem;
    padding: 20px;
}

.total > span + span {
    margin-top: 5px;
}

.shows-query {
    animation: pulse 1s ease-in-out infinite alternate;
}

.sql-popup {
    box-shadow: 2px 2px var(--main-color);
}

.sql-popup span.keyword {
    color: red;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 var(--main-color);
    }

    to {
        box-shadow: 0 0 0 3px var(--main-color);
    }
}